<style type="text/css">
  .wrapper{
    text-align: center;
  }
</style>
<div class="wrapper">
  <h2>Cadastre-se</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <label>Nome</label><br/>
      <%= f.email_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <label>Email</label><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <label>Senha</label><br/>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres mínimos)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
    <label>Repetir Senha</label><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Registrar-se" %>
    </div>
  <% end %>
</div>
