<div id="wrapper">
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Categorias</h1>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Categoria</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @categories.each do | category | %>
                    <tr>
                      <td style="width: 5%;"><%= category.id %></td>
                      <td><%= category.name %></td>
                      <td style="width: 8%;"><button type="button" class="btn btn-info">Editar</button></td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>