<h1>Edit</h1>

<%= form_for([:site, :profile, :dashboard, @book]) do |f| %>
	<div class="form-group">
		<label>Nome</label>
		<%= f.text_field :name, class:"form-control", placeholder:"Nome" %> 
	</div>
<% end %>
