<div class="content-right">
	<div class="best">
		<h2>Minha conta</h2>
		<hr>
		<div class="row">
			<table class="table table-hover">
				<thead>
					<th>ID</th>
					<th><strong>Livro</strong></th>
					<th style="width: 3%;"></th>
					<th style="width: 3%;"></th>

				</thead>
				<tbody>
					<% @books.each do | book | %>
					<tr>
						<td><%= book.id %></td>
						<td><%= book.name %></td>
						<td><%= link_to edit_site_profile_dashboard_path(book.id), class:"btn btn-info" do %> 
								<i class="fa fa-edit"></i>
								<% end %></td>
						<td><button class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
	<!-- Fim últimos adicionados -->
	<hr>
</div>