<div class="content-left">
	<div class="menu-left">
		<% unless leitor_signed_in? %>
		<%= link_to "Login", new_leitor_session_path, style: "margin: 20px;" %>
		<%= link_to "Cadastro", new_leitor_registration_path, style: "margin: 20px;" %>

		<% else %>
		<%= image_tag current_leitor.avatar.url(:medium), :class => "card-img-top" %>
		<div class="menu-left">
			<h4 class="name"><%=current_leitor.name%></h4>
			<h5 class="id text-muted">ID: <%=current_leitor.id%></h5>
			<ul>
				<li><%= link_to "Minha conta", site_profile_dashboard_index_path %></li>
			</ul>
			<%= link_to "Sair", destroy_leitor_session_path, method: :delete %>
		</div>
		<% end %>
	</div>
</div>