<nav>
	<%= link_to "Biblioteca São Jerônimo", site_home_path, class:"navbar-brand logo active"  %>
	<div class="search-container">
	  <form action="/action_page.php">
	    <input type="text" placeholder="Pesquisar" name="search">
	    <button type="submit"><i class="fa fa-search"></i></button>
	  </form>
	</div>
</nav>