<div id="wrapper">
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
          	Administradores
          </h1>
            <div class="panel-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Email</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @admins.each do | admin | %>
                    <tr>
                      <td style="width: 10%;"><%= admin.id %></td>
                      <td><%= admin.email %></td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>