<div id="wrapper">
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">
          	Livros
          	<%= link_to new_backoffice_book_path, class:"btn btn-success btn-circle pull-right" do %>
          		<i class="fa fa-plus"></i>
     				<% end %>
          </h1>
            <div class="panel-body">
              <div class="table-responsive">
              	<% if notice %>
              		<div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <%= notice %>
                  </div>
              	<% end %>
                <table class="table">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% @books.each do | book | %>
                    <tr>
                      <td><%= book.name %></td>
                      <td style="width: 10%;">
                      	<%= link_to edit_backoffice_book_path(book), class:"btn btn-info btn-circle" do %>
                      		<i class="fa fa-edit"></i>
                      	<% end %>
                      	<button type="button" class="btn btn-danger btn-circle disabled"><i class="fa fa-times"></i></button>
                      </td>
                    </tr>
                  </tbody>
                  <% end %>
                </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.panel-body -->
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>