<div id="wrapper">
  <!-- Page Content -->
  <div id="page-wrapper">
    <div class="container-fluid">
      <h1 class="page-header"><%= action %></h1>
      <div class="row">
        <% if @book.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @book.errors.full_messages.each do | message | %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <div class="col-sm-6">
          <%= form_for([:backoffice, @book]) do |f| %>
            <div class="form-group">
              <label>Nome do livro</label>
              <%= f.text_field :name, class:"form-control", placeholder:"Ex: Auto da Compadecida" %>
              <label>Nome do autor</label>
              <%= f.text_field :author, class:"form-control", placeholder:"Ex: Ariano Suassuna" %>
              <label>Número de páginas</label>
              <%= f.text_field :pages, class:"form-control", placeholder:"Ex: 485" %>
              <label>ISBN</label>
              <%= f.text_field :isbn, class:"form-control", placeholder:"Ex: 978-3-16-148410-0" %>
              <label>Condição do livro</label>
              <%= f.text_field :condition, class:"form-control", placeholder:"Ex: 978-3-16-148410-0" %>
            </div>
            <button type="submit" class="btn btn-default">Salvar livro</button>
          <% end %>
        </div>
      </div>
      <!-- /.row -->
    </div>
  </div>
</div>