<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="login-panel panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Acesso Restrito</h3>
        </div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), role:"form") do |f| %>
            <fieldset>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:"E-mail", type:"email" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder:"Senha" %>
              </div>
              <div class="checkbox">
                <label>
                  <%= f.check_box :remember_me %>Lembrar deste login
                </label>
              </div>
              <%= f.submit "Entrar", class:"btn btn-lg btn-success btn-block"%>
            </fieldset>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
