<style type="text/css">
	.book-container{
		padding: 10px 15px;
		display: block;
	}
	.request-container{
		padding: 10px 15px;
		display: inline-block;
		text-align: center;
	}
	.front-cover{
		float: left;
		margin: 10px 15px;
		border-radius: 5%;
	}
	.info{
		margin-left: 10px;
	}
	.btn-borrow{
		color: #EBF9E8;
		background-color: #33673B;
		padding: 10px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.btn-borrow:hover{
		color: #EBF9E8;
		background-color: #57875E;
	}
	.btn-return{
		color: #EBF9E8;
		background-color: #545454;
		padding: 10px;
	}
	.btn-return:hover{
		color: #EBF9E8;
		background-color: #7F7171;
	}
</style>
<div class="content-right">
	<div class="book-container">
		<img class="front-cover" src="https://via.placeholder.com/170x240?text=livro" alt="Capa do livro">
		<h2>Nome do livro</h2>
		<div class="info row">
			<div class="col-sm">
				<p class="text-muted">Autor</p>
				<p>Dono</p>
			</div>
			<div class="col-sm">
				<p class="text-muted">Estado</p>
				<p class="text-muted">Número de páginas</p>
			</div>
		</div>
	</div>
	<div class="request-container">
		<button class="btn btn-borrow">Pedir emprestado</button>
		<button class="btn btn-return">Devolvido ao Dono</button>
	</div>
</div>