<div class="content-right">
	<div class="best">
		<h2>Livros disponíveis</h2>
		<hr>
		<div class="row">
			<% @books.each do | book | %>
				<div class="col-lg-3 col-md-4 col-sm-6 portfolio-item">
			    <div class="card h-100">
			      <%= image_tag book.image.url(:thumb), :class => "card-img-top" %>
			      <div class="card-body">
			      	<h4 class="card-title"><%= link_to "#{book.name}", site_book_path %></h4>
			        <p><%= book.author %></p>
			        <p class="text-muted"><%= book.isbn %></p>
			        <p class="text-muted"><%= book.leitor.name %></p>
			      </div>
			    </div>
			  </div>
			<% end %>
		  </div>
		</div>
	</div>
	<!-- Fim últimos adicionados -->
	<hr>
</div>