<style type="text/css">
  .wrapper{
    text-align: center;
  }
</style>
<div class="wrapper">
  <h2>Login</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <label>Email</label><br/>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <label>Senha</label><br/>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field">
        <%= f.check_box :remember_me %>
        <label>Lembrar-me</label>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Login" %>
    </div>
  <% end %>
</div>
