/*
 *= require font-awesome
 *= require bootstrap
 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Rubik, Helvetica, sans-serif;
}
header {
  text-align: center;
}
nav {
  overflow: hidden;
  line-height: 1;
  background-color: #33673B;
}
h2 {
  color: #393424;
}
nav a {
  float: left;
  display: block;
  color: #EBF9E8;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}
.logo {
  font-family: Roboto;
  padding-right: 18px; 
}
nav a:hover {
  background-color: #57873B;
  color: #EBF9E8;
}
nav a.active {
  background-color: #545454;
  color: #EBF9E8;
}
nav .search-container {
  float: right;
}
nav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #545454;
  color: #EBF9E8;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav .search-container button:hover {
  background: #7f7171;
}
.portfolio-item {
  margin-bottom: 5px;
}
.content-right{
  width: 82%;
  display: block;
  float: right;
  margin: 0px;
  padding: 0 15px;
}
.content-left {
  margin: 0px;
  background-color: #EBF9E8;
  width: 18%;
  height: 1000px;
  display: block;
  float: left;
}
.menu-left {
  padding-left: 7px;
}
.card-img-top {
  border-radius: 5%;
  display: block;
  margin: auto;
  margin-top: 10px;
}
.profile-img {
  border-radius: 3%;
  display: block;
  margin: auto;
  margin-top: 10px;
}
ul {
  list-style:outside none none;
  padding-left: 10px;
}
@media (max-width: 768px) {
  nav .search-container {
    float: none;
  }
  nav a, nav input[type=text], nav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  nav input[type=text] {
    border: 1px solid #ccc;  
  }
  .content-right{
    margin: 5px 10px;
    width: 100%;
  }
  .content-left{
    visibility: hidden;
    width: 0%;
  }
}

/* Footer */
footer {
  display: block;
  float: left;
  width: 100%;
  background-color: #545454;
  padding: 40px 20px 30px 30px;
}
footer a {
  color: #EBF9E8;
}
footer a:hover{
  color: #7F7171;
}
footer h2 {
  color: #EBF9E8;
  text-align: center;
  padding-top:30px;
}
footer p {
  color: #EBF9E8;
  text-align: justify;
  padding: 10px;
}
.social-media ul {
  padding-top: 30px;
}
.social-media li {
  display: inline-block;
}
.social-media ul li a i {
  padding: 0 15px;
  font-size: 3em;
}
.mapa ul{
  padding: 10px;
  text-align: center;
}
.mapa{
  text-align: center;
}