<!DOCTYPE html>
<html>
<head>
  <title>São Jerônimo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'site', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'site', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto:900" rel="stylesheet"> 
  <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet"> 
</head>
<body>
	<%= render partial: "layouts/site_partials/navbar" %>
	<%= render partial: "layouts/site_partials/content_left" %>
	<%= yield %>
	<%= render partial: "layouts/site_partials/footer" %>
</body>
</html>
